/*
#9A9BAB
(154,155,171)
#A3A9B5
(163,169,181)
#969B9E
(150,155,158)
#A3B3B5
(163,179,181)
#9AABA8
(154,171,168)
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #9A9BAB
}

header {
  background-color: #A3A9B5;
  text-align: center;
  padding: 10px 0;
  box-shadow: 19px -2px 19px 0px rgba(49, 47, 72, 0.83);
  position: fixed;
  display: inline-block;
  width: 100%;
}

h1, h2, h3 {
  color: #9A9BAB;
  line-height: 1.4;
}

h1 {
  font-size: 3.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #969B9E;
  text-decoration: underline;
}

a:visited {
  color: #969B9E;
}

a:hover,
a:focus {
  color: #0000EE;
  text-decoration: none;
}

a:active {
  color: #EE0000;
}

#hero {
  font-size: 0.50em;
  background-color: #A3A9B5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#contact {
  color: #9AABA8;
}

#work {
  color: #9A9BAB;
}

.button {
  display: inline-block;
  background-color: #969B9E;
  color: #ffffff !important;
  font-weight: 300;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #9A9BAB;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  opacity: 0.5;
  color: #0000EE !important;
  text-decoration: none;
}

.button:active {
  color: #EE0000 !important;
}

.button.contact {
  background-color: transparent;
  color: #969B9E !important;
  text-transform: uppercase;
  border: 2px solid #969B9E;
}

.button.contact:hover,
.button.contact:focus {
  opacity: 0.5;
  background-color: #969B9E !important;
  color: #0000EE !important;
  text-decoration: none;
}

.button.contact:active {
  color: #EE0000 !important;
}

/* Layout Styling */
.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #9A9BAB;
}

#hero h1 {
  text-align: center;
  color: #ffffff
}
#hero p {
  color: #ffffff;
  line-height: 1.4;
  font-size: 2.0em;
  font-weight: 500;
  text-align: center;
}

#contact p {
  text-align: center;
}

#contact h2 {
  text-align: center;
}

#contact ul {
  list-style-type: none;
  text-align: center;
}

#contact ul li {
  display: inline-block;
  padding: 0 15px;
  margin: 25px 0;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

nav {
  display: inline-block;
  width: 100%
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: ##9A9BAB;
}

nav > ul > li > a:visited {
  color: #ffffff;
}

nav > ul > li > a:hover {
  color: #0000EE;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #EE0000;
}

main {
  padding-top: 102.06px;
}
